/* ############# menu haut ################# */

#menuHaut  {
	margin: auto;
	margin-top: 10px;
	width: 960px;
	height: 30px;
	background-color:#FF3366;
}

#menuHaut ul {
	padding:0;
 	margin:0;
 	list-style-type:none;
}

#menuHaut ul li {
	margin-left:2px;
 	float:left; /*pour IE*/
}

#menuHaut ul li a {
 	display:block;
 	float:left;   
 	width:100px;
 	background-color:#E4EFFF;
 	color:black;
 	text-decoration:none;
 	text-align:center;
 	padding:1px;
	border:2px solid;
	margin-top: 3px;
	margin-left: 5px;
	/*pour avoir un effet "outset" avec IE :*/
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
}

#menuHaut ul li a:hover {
 	background-color:#D3D3D3;
 	border-color:#696969 #DCDCDC #DCDCDC #696969;
}

#menuHaut ul li div{
 	margin-top: 2px;
 	margin-left: 5px;
 	width: 5px;
 	display:inline-block;
 	height: 26px;
 	background: #E4EFFF;
}

/* ############# Corps ################# */

#corps {
	max-with:960px;
	width: 960px;
	margin: auto;
}

/* ############# menu Gauche ################# */

#menuGauche  {
	margin-top: 10px;
	float:left;
	width:200px;
	height: 400px;
	background-color:#FF3366;
	border-radius: 0 0 200px 0;
}

/* ############# menu Droit ################# */

#menuDroit {
	margin-top: 10px;
	float:right;
	width:200px;
	height: 400px;
	background-color:#FF3366;
	border-radius: 0 0 40px 40px;
}